:root {
  --primary-white: #fff;
  --primary-blue: #2b7fff;
  --primary-dark-blue: #011c44;
  --secondary-graphitic: #4a4a4a;
  --secondary-gray: #747272;
  --secondary-yellow: #ffd02b;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
